* {
    max-width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}
body {
    display: block;
    font-family: monospace;
}
button {
    cursor: pointer;
}
#connectionPanel {
    border: none;

}
#connectionPanel .indicator {
    overflow-wrap: break-word;
    display: inline;
    padding: 2px;
}
#connectionPanel .indicator.off {
    display: none;
}
#connectionPanel .indicator.green {
    background-color: green;
}
#connectionPanel .indicator.yellow {
    background-color: yellow;
}
#connectionPanel .indicator.red {
    background-color: red;
}
.tabsPanel {
    margin: 0px 0px 0px 0px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.tabButton {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 10px;
}
.tabsPanel button:hover {
    background-color: #ddd;
}
.tabsPanel button.active {
    background-color: #ccc;
}
.tabContent {
    display: none;
    background-color: #ccc;
}

/* ========================================================================== */

.stringValue {
    max-width: 100%;
}

.valueLabel {
    display: inline-block;
    width: 13%;
}
.valueLabel.fullLine {
    display: block;
    width: inherit;
}

.stringValueValue {
    display: inline-block;
    max-width: inherit;
    word-wrap: break-word;
}

.stringValueValue.overflowHide {
    display: inline-block;
    max-width: 80%;
    max-height: 1.1em;
    word-wrap: break-word;
    overflow: hidden;
}

.inlineCopyButton {
    display: inline;
}

/* ========================================================================== */

#accTab #accControlPanel {
    display: flex;
}
#accTab #accControlPanel #importedAccList {
    width: 40%;
    max-height: 300px;
    overflow-y: scroll;
    background-color: #f1f1f1;
}
#accTab #accControlPanel #importedAccList div {
    display: flex;
}
#accTab #accControlPanel #importedAccList div .accIdSpan {
    overflow-x: hidden;
}
#accTab #accControlPanel #importedAccList div:hover {
    background-color: #ddd;
    cursor: pointer;
}
#accTab #accControlPanel #accListActions button {
    display: block;
}

#accTab #accControlPanel #accListActions button {
    display: block;
}

#accTab #accDataPanelControlSection {
    display: flex;
}

#accTab #accDataPanel #accDataPanelAccDataOutputField {
    display: block;
}

/* ========================================================================== */
#txTab #txTabControlPanel {
    display: block;
}

/* #txTab #txTabControlPanel #importedTxList {
    width: 450px;
    min-height: 5em;
    max-height: 300px;
    overflow-y: scroll;
    background-color: #f1f1f1;
} */

#txTab #txTabControlPanel #txTabControlPanelTxListSubdiv {
    display: flex;
}

#txTab #txTabControlPanel #importedTxList {
    width: 650px;
    height: 29em;
    overflow-y: scroll;
    background-color: #f1f1f1;
}

#importedTxList div:hover {
    background-color: #ddd;
    cursor: pointer;
}

.tabButton.txSubtabBtn {
    padding: 3px 10px;
}

#txListActions {
    width: 10%;
    min-width: 30px;
}

#listTxInfo {
    width: 50%;
    height: 30em;
}

#txTabSerializedTxField {
    resize: none;
    width: 100%;
    height: 25em;
}

/* ========================================================================== */

#msgPackTabBinDataField {
    resize: none;
    width: 80%;
    height: 10em;
}

#msgPackTabJsonField {
    resize: none;
    width: 80%;
    height: 30em;
}